*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea {
  border: none;
  outline: none;
  font: inherit;
}

button {
  cursor: pointer;
  background: none;
}

html,
body {
  min-height: 100vh;
}


.input-error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
}